<?xml version='1.0' encoding='utf-8'?>
<widget id="solareff.app.com" version="0.8.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Solareff</name>
    <description>
        Solareff Electricity Consumption Calculator
    </description>
    <author email="alwyn.grobler@gmail.com" href="http://www.dontknowyet.co.za">
      Appdev
    </author>

    <plugin name="cordova-plugin-camera" source="npm" spec="2.3.0" />
	  <plugin name="cordova-plugin-email-composer" source="npm" spec="0.8.3" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="2.1.2" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="windows-target-version" value="10.0" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
